{% set value = (value is null ? field.default : value) %}

<div class="form-field">
    <label class="control-label col-sm-2">
            {% if field.help %}
            <span class="tooltip" data-asTooltip-position="w" title="{{ field.help|e }}">{{ field.label|default(field.name|capitalize)|t }}</span>
            {% else %}
            {{ field.label|default(field.name|capitalize)|t }}
            {% endif %}
            {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
    </label>
    <div class="col-sm-10">
        {% for key, text in field.options %}
        {% set id = "radio_" ~ field.name ~ key %}
        <div class="radio">
            <label>
                <input type="radio"
                       value="{{ key }}"
                       id="{{ id }}"
                       name="{{ (scope ~ field.name)|fieldName }}"
                       {% if key == value %}checked="checked" {% endif %}
                       {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
                />
                {{ text }}
            </label>
        </div>
        {% endfor %}
    </div>
</div>
