<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% include 'partials/metadata.html.twig' %}

        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,800|Nunito+Sans:400,700" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon.ico">
        <meta name="apple-mobile-web-app-title" content="Chia">
        <meta name="application-name" content="Chia">

        {% block stylesheets %}
            {% do assets.add('theme://css/font-awesome.min.css',99) %}
            {% do assets.add('theme://css-compiled/theme.css',98) %}
            {% do assets.add('theme://css/custom.css',97) %}
        {% endblock %}
        {{ assets.css() }}

        {% block javascripts %}
            {% do assets.add('jquery', 101) %}
            {% do assets.add('theme://js/modernizr-custom.js', 100) %}
            {% do assets.add('theme://js/site.js', {group:'bottom'}) %}

            {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
                {% do assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
                {% do assets.add('theme://js/html5shiv-printshiv.min.js') %}
            {% endif %}
        {% endblock %}
        {{ assets.js() }}

        {% endblock head %}
    </head>

    <body class="{% block body_classes %}{{ page.header.body_classes }}{% endblock %}">
      <div class="bg-wrapper">
        {% if config.plugins.langswitcher.enabled %}
            {% include 'partials/langswitcher.html.twig' %}
        {% endif %}

        {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}

        {% block content %}{% endblock %}
        {% block pagination %}{% endblock %}
      </div>
        <div class="body-content">
          <div class="container">
            <div class="row">
              <div class="col-md extra-padding">
                <h3>01 ——— USEFUL</h3>
                <h2>Your money, how and where you want it</h2>
                <p>Chia's targeted functionality does everything you can do with a bank account - but better, and without the bank. Transactions are easy, secure, and smart.</p>
              </div>
              <div class="col-md">
                <video class="afterglow" id="chia-1" width="1920" height="1080" src="/user/themes/bootstrap4/assets/chia-video-1.mp4" poster="/user/themes/bootstrap4/images/chia-video-1.png"></video>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <img src="/user/themes/bootstrap4/images/img-sustainable.png" />
              </div>
              <div class="col-md extra-padding">
                <h3>02 ——— SUSTAINABLE</h3>
                <h2>Digital money doesn't have to be wasteful</h2>
                <p>Traditional cryptocurrency mining is slow, wasteful, and centralized. Chia's method is energy efficient and broadly distributed, because even digital money should be green.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md extra-padding">
                <h3>03 ——— ACCESSIBLE</h3>
                <h2>Currency that's compatible for both professional and personal needs</h2>
                <p>Now, even multinational businesses can join our new financial world without fear of volatility or vulnerability.</p>
              </div>
              <div class="col-md">
                <img src="/user/themes/bootstrap4/images/img-accessible.png" />
              </div>
            </div>
          </div>
        </div>

        <div class="about-feature">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2>The Chia Community</h2>
              </div>
            </div>
            <div class="row subhead">
              <div class="col-md">
                <h4>VDF Competition</h4>
                <p>To help improve our proof of time protocol with fast, open, and secure implementations, Chia is hosting a three-month, two-track competition for our VDF algorithm.</p>
                <h3><a href="https://github.com/Chia-Network/vdf-competition">Learn more ➞</a></h3>
              </div>
              <div class="col-md">
                <h4>Join our Keybase group</h4>
                <ul style="line-height: 200%;">
                  <li>Install and set up Keybase</li>
                  <li>Run this in your terminal:<br />
                  <code>keybase team request-access chia_network.public</code></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="about-investors">
          <div class="container">
            <div class="row">
              <div class="col-md">
                <img src="/user/themes/bootstrap4/images/img-wind.png" />
              </div>
              <div class="col-md">
                <h3>Our investors</h3>
                <ul class="investors">
                  <li><img src="/user/themes/bootstrap4/assets/naval-ravikant.png" class="image-grid" /></li>
                  <li><img src="/user/themes/bootstrap4/assets/andreessen.png" class="image-grid" /></li>
                  <li><img src="/user/themes/bootstrap4/assets/greylock-partners.png" class="image-grid" /></li>
                  <li><img src="/user/themes/bootstrap4/assets/true-ventures.png" class="image-grid" /></li>
                  <li><img src="/user/themes/bootstrap4/assets/slow-ventures.png" class="image-grid" /></li>
                  <li><img src="/user/themes/bootstrap4/assets/galaxy-group.png" class="image-grid" /></li>
                  <li><img src="/user/themes/bootstrap4/assets/danhua-capital.png" class="image-grid" /></li>
                  <li><img src="/user/themes/bootstrap4/assets/stillmark-capital.png" class="image-grid" /></li>
                  <li><img src="/user/themes/bootstrap4/assets/dcm.png" class="image-grid" /></li>
                  <li><img src="/user/themes/bootstrap4/assets/metastable.png" class="image-grid" /></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="lower-feature">
          <div class="container">
            <div class="row">
              <div class="col-7">
                <h2>We're hiring!</h2><a name="hiring"></a>
                <p>We're looking to hire several technically gifted programmers to work with our team of cryptographers on building our protocol. Must have strong algorithms skills. Cryptography experience is a plus but not required. Remote is okay but being in San Francisco is a plus. To apply please complete a couple <a href="https://leetcode.com/contest/">LeetCode</a> Contests and send a link to your LeetCode profile plus your resume to <a href="mailto:jobs@chia.net">jobs@chia.net</a>.</p>
                <p><br /><a href="#" class="lg-button">Apply now ➞</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <img src="/user/themes/bootstrap4/assets/chia-logo.svg" class="footer-logo" /><br />
                <p class="brand-green">© Chia Network 2018</p>
              </div>
              <div class="col-sm">
                <h6>Contact</h6>
                <p><a href="mailto:hello@chia.net">hello@chia.net</a></p>
                <p>1-844-257-8433</p>
                <br />
                <p>44 Montgomery Street<br />
                  San Francisco, CA 94104</p>
              </div>
              <!--<div class="col-2">
                <p class="text-muted"></p>
              </div>-->
              <div class="col-sm">
                <h6>Find Us</h6>
                <ul class="social">
                  <li><a href="https://twitter.com/ChiaNetworkInc"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.facebook.com/ChiaNetworkInc/"><i class="fa fa-facebook-f"></i></a></li>
                  <li><a href="https://medium.com/@chia_network"><i class="fa fa-medium"></i></a></li>
                  <li><a href="https://github.com/Chia-Network"><i class="fa fa-github"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="text-muted">By contributing to this repository, you agree to license your work under the MIT license unless specified otherwise in contrib/debian/copyright or at the top of the file itself. Any work contributed where you are not the original author must contain its license header with the original author(s) and source.</p>
              </div>
            </div>
          </div>
        </div>

        {% block bottom %}
            {{ assets.js('bottom') }}
        {% endblock %}
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/afterglowplayer@1.x"></script>
    </body>
</html>
